@charset "utf-8";
/*
 ** 초기화 **
          */
html {width:100%; height:100%; margin:0; padding:0; border:0; outline:0; background:transparent; font-size:14px; font-family:'bbj-Regular'; vertical-align:baseline; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
body {width:100%; height:100%; margin:0; padding:0; line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block;}
audio,canvas,progress,video {display:inline-block; vertical-align:baseline;}
audio, canvas, video {display:inline-block; display:inline; **zoom:1;}
audio:not([controls]) {display:none; height:0;}
[hidden],template {display:none;}
a, a:link {margin:0; padding:0; display:block; color:inherit; font-size:1em; text-decoration:none; vertical-align:baseline; cursor:pointer; -webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
a:link, a:hover, a:active. a:visited {margin:0; padding:0; color:inherit; font-size:1em; text-decoration:none; vertical-align:baseline;}
b,strong {font-weight:bold;}
dfn {font-style:italic;}
mark {background:#ff0; color:#000;}
small {font-size:0.8em;}
sub,sup {position:relative; font-size:0.75em; vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
img {border:0; -ms-interpolation-mode:bicubic;}
svg:not(:root) {overflow:hidden;}
hr {height:0; box-sizing:content-box;-moz-box-sizing:content-box;}
pre {overflow:auto; white-space:pre; white-space:pre-wrap; word-wrap:break-word;}
code,kbd,pre,samp {font-size:1em; font-family:monospace, monospace;}
q {quotes:none;}
q:before, q:after {content:''; content:none;}
dl, menu, ol, ul {margin:0; padding:0;}
ol,ul,li {list-style:none;}
nav ul, nav ol {list-style:none; list-style-image:none;}
button, input, select, textarea {margin:0; font-size:1em; vertical-align:middle; font-family:'bbj-Regular'; appearance:none; -webkit-appearance:none; -ms-appearance:none; -moz-appearance:none; -o-appearance:none;}
select::-ms-expand {display:none;}
button {overflow:visible; -webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
button,select {text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {vertical-align:middle; overflow:visible; cursor:pointer; *-webkit-appearance:button;}
button[disabled],html input[disabled] {cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner {padding:0; border:0;}
input {line-height:normal;}
input[type="search"] {box-sizing:content-box;-webkit-appearance:textfield; -webkit-box-sizing:content-box; -moz-box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height:auto;}
fieldset {margin:0; padding:0; border:none; outline:none;}
legend {margin:0; padding:0; border:0;}
textarea {overflow:auto; vertical-align:baseline;}
optgroup {font-weight:bold;}
table {border-collapse:collapse; border-spacing:0;}
td,th {padding:0;}
* {margin:0; padding:0;}

/*
 ** 폰트 **
          */
.font_t {font-family:"bbj-Thin"; font-weight:400;}
.font_r {font-family:"bbj-Regular"; font-weight:400;}
.font_b {font-family:"bbj-Bold"; font-weight:400;}

/*
 ** 방부장 기본 css **
          */
#wrap {position:relative; top:0; left:0; width:100%; height:auto;}
.hidden {display:none;}

/* 상단헤더 공통사용 */

/* 광고영역 */
#ad_zone {display:block; position:fixed; bottom:0; left:0; right:0; z-index:800; width:100%; height:50px; line-height:50px; background-color:#989898; }